$BACKGROUND_COLOR: rgb(52, 59, 67);
$TEXT_COLOR: white;

nav.navbar {
    border-bottom: 1px solid white;
}

body {
    background-color: $BACKGROUND_COLOR;
    color: $TEXT_COLOR;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
    text-align: center;
}
