$ipadScreenWidth: 95%;
$smallScreenWidth: 80%;
$extraLargeScreenWidth: 55%;
$normalWidth: 40%;

$maxIpadScreenSize: 767px;
$maxSmallScreenSize: 991px;
$maxExtraLargeScreenSize: 1399px;

.reddit-subreddit-search-bar-form {
    width: $normalWidth;
    margin-left: auto;
    margin-right: auto;
}

.reddit-logo {
    width: 22px;
}

.submit-btn {
    text-align: center;
}

.home-main-element {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home-main-element div {
    width: 100%;
}

// Extra large screens
@media screen and (max-width: $maxExtraLargeScreenSize) {
    .reddit-subreddit-search-bar-form {
        width: $extraLargeScreenWidth;
    }
}

// Small screens
@media screen and (max-width: $maxSmallScreenSize) {
    .reddit-subreddit-search-bar-form {
        width: $smallScreenWidth;
    }
}

// Tablets and phones
@media screen and (max-width: $maxIpadScreenSize) {
    .reddit-subreddit-search-bar-form {
        width: $ipadScreenWidth;
    }
}
